*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}

body {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: white;
}
html {
	height: 100%;
}
h2 {
	font-size: 30px;
	font-weight: 500;
}

dl {
	line-height: 1.428571429;
	margin-top: 0;
	margin-bottom: 20px;
}

dt {
	float: left;
	/*width: 100px;*/
	width: 100%;
	clear: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	line-height: 1.428571429;
	visibility: hidden;
}

dd {
	margin-bottom: 6px;
	margin-left: 0px;
	visibility: hidden;
}

.contact {
	visibility: visible;

}

.contact-item {
	padding-top: 20px;
}

.clear { clear: both;}
.leftcolumn { width: 200px; float: left}
.rightcolumn { width: 200px; float: right}
.contact-header {
	text-decoration: underline;
	margin-bottom: 3px;
}

#item-text {
	margin-left: 20px;
	margin-right: 20px;
}
.map {
	width: 100%;
	height: 100%;
}
.map-application {
	height: 100%;
	float:left;
	width:70%;
}
#item-info {
	float:right;
	width:30%;
}